
h1 {
    text-align: center;
    color: black;
    font-family: monospace;
}

h3 {
    font-family: monospace;
    margin-left: 18vmin;
    color: rgba(106, 150, 142, 0.753);
    border-style: double;
    display: inline;
   
    
}

p {
    font-family: monospace;
    margin-left: 18vmin;
}

