
h1 {
text-align: center;
font-family: monospace;
}

p {
    font-family: monospace;
    text-align: center;
    margin-top: 5vmin;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
    padding-bottom: 10vmin;
   
}

.gallery_item {
    box-shadow: grey;
    background-size: cover;
    height: 70vmin;
    width: 100vmin;
    max-width: 200px;
    max-height: 150px;
    display: flex;
    margin: 10px;
   
}

a:hover {
    visibility: visible;
    align-items: center;
    background: rgba(106, 150, 142, 0.349);
    opacity: 1;
    color: white;
    transition: opacity 0.50s;
   

    
}

a {
    font-family: monospace;
    color: rgba(179, 169, 169, 0);
    justify-content: center;
    text-decoration: none;
   
   
}

.bloodymary { background-image: url("../images/bloodymary.jpeg");}

.boulevardier { background-image: url("../images/boulevardier.jpeg");}

.matchafoam { background-image: url("../images/matchafoam.jpeg");}

.partydrinks {background-image: url("../images/partydrinks.jpeg");}

.mountain {background-image: url("../images/oldmanmountain.jpeg");}

.citrussummer {background-image: url("../images/citrussummer.jpeg");}

.creamsicle {background-image: url("../images/creamsicle.jpeg");}

.cucflute {background-image: url("../images/cucflute.jpeg");}

.summergin 
{background-image: url("../images/IMG_5076.jpeg");
}

.applecider
{background-image: url("../images/applecider.jpeg");}

.margish
{background-image: url("../images/margish.jpeg");}

.sipsforlynne 
{background-image: url(../images/sipsforlynne.jpeg);}

.thankcynthia
{background-image: url(../images/IMG_4818.jpeg);}

.whiskeysour
{background-image: url("../images/whiskeysour.jpeg");}

.tequilapom
{background-image: url(../images/tequilapom.jpeg);}

.tallulah3
{background-image: url(../images/tallulah3.jpeg);}